/obj/Debug/ClassLibrary1.csproj.FileListAbsolute.txt
/bin/Debug/nunit.framework.xml
/bin/Debug/nunit_random_seed.tmp
/ClassLibrary1.csproj
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Debug/ClassLibrary1.csproj.CopyComplete
/packages.config
/EuroVaistineDemo/.vs/GintarineVaistineDemo/FileContentIndex/26dec0bb-1ddd-497a-991d-ea1d02052fd1.vsidx
/EuroVaistineDemo/.vs/GintarineVaistineDemo/FileContentIndex/c4e32458-6140-4744-a7f4-064830fb6219.vsidx
/EuroVaistineDemo/.vs/GintarineVaistineDemo/FileContentIndex/edfca58b-d63a-441a-96de-68c21217ba3e.vsidx
/EuroVaistineDemo/.vs/GintarineVaistineDemo/FileContentIndex/read.lock
/EuroVaistineDemo/.vs/GintarineVaistineDemo/v17/TestStore/0/000.testlog
/EuroVaistineDemo/.vs/GintarineVaistineDemo/v17/TestStore/0/testlog.manifest
/EuroVaistineDemo/EuroVaistineDemo.sln
/EuroVaistineDemo/EuroVaistineDemo/bin/Debug/nunit.framework.xml
/EuroVaistineDemo/EuroVaistineDemo/bin/Debug/nunit_random_seed.tmp
/EuroVaistineDemo/EuroVaistineDemo/EuroVaistine.csproj
/EuroVaistineDemo/EuroVaistineDemo/obj/Debug/EuroVaistine.csproj.FileListAbsolute.txt
/EuroVaistineDemo/EuroVaistineDemo/obj/Debug/GintarineVaistineDemo.csproj.CopyComplete
/EuroVaistineDemo/EuroVaistineDemo/obj/Debug/GintarineVaistineDemo.csproj.FileListAbsolute.txt
/EuroVaistineDemo/EuroVaistineDemo/packages.config
/EuroVaistineDemo/EuroVaistineDemo/Readme.txt
/EuroVaistineDemo/packages/NUnit.3.13.3/.signature.p7s
/EuroVaistineDemo/packages/NUnit.3.13.3/build/NUnit.props
/EuroVaistineDemo/packages/NUnit.3.13.3/CHANGES.md
/EuroVaistineDemo/packages/NUnit.3.13.3/icon.png
/EuroVaistineDemo/packages/NUnit.3.13.3/lib/net35/nunit.framework.xml
/EuroVaistineDemo/packages/NUnit.3.13.3/lib/net40/nunit.framework.xml
/EuroVaistineDemo/packages/NUnit.3.13.3/lib/net45/nunit.framework.xml
/EuroVaistineDemo/packages/NUnit.3.13.3/lib/netstandard2.0/nunit.framework.xml
/EuroVaistineDemo/packages/NUnit.3.13.3/LICENSE.txt
/EuroVaistineDemo/packages/NUnit.3.13.3/NOTICES.txt
/EuroVaistineDemo/packages/NUnit.3.13.3/NUnit.3.13.3.nupkg
/EuroVaistineDemo/packages/NUnit3TestAdapter.4.2.1/.signature.p7s
/EuroVaistineDemo/packages/NUnit3TestAdapter.4.2.1/build/net35/NUnit3TestAdapter.props
/EuroVaistineDemo/packages/NUnit3TestAdapter.4.2.1/build/netcoreapp2.1/NUnit3TestAdapter.props
/EuroVaistineDemo/packages/NUnit3TestAdapter.4.2.1/NUnit3TestAdapter.4.2.1.nupkg
/EuroVaistineDemo/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/.signature.p7s
/EuroVaistineDemo/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/.signature.p7s
/EuroVaistineDemo/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/build/DefinePropertiesChromeDriver.targets
/EuroVaistineDemo/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/build/Selenium.WebDriver.ChromeDriver.targets
/EuroVaistineDemo/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/driver/linux64/chromedriver
/EuroVaistineDemo/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/driver/mac64/chromedriver
/EuroVaistineDemo/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/driver/mac64arm/chromedriver
/EuroVaistineDemo/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/nupkg-icon.png
/EuroVaistineDemo/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/README.md
/EuroVaistineDemo/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/Selenium.WebDriver.ChromeDriver.106.0.5249.6100.nupkg
/EuroVaistineDemo/packages/Selenium.WebDriver.GeckoDriver.0.32.0/.signature.p7s
/EuroVaistineDemo/packages/Selenium.WebDriver.GeckoDriver.0.32.0/build/DefinePropertiesGeckoDriver.targets
/EuroVaistineDemo/packages/Selenium.WebDriver.GeckoDriver.0.32.0/build/Selenium.WebDriver.GeckoDriver.targets
/EuroVaistineDemo/packages/Selenium.WebDriver.GeckoDriver.0.32.0/driver/linux64/geckodriver
/EuroVaistineDemo/packages/Selenium.WebDriver.GeckoDriver.0.32.0/driver/mac64/geckodriver
/EuroVaistineDemo/packages/Selenium.WebDriver.GeckoDriver.0.32.0/driver/mac64arm/geckodriver
/EuroVaistineDemo/packages/Selenium.WebDriver.GeckoDriver.0.32.0/nupkg-icon.png
/EuroVaistineDemo/packages/Selenium.WebDriver.GeckoDriver.0.32.0/README.md
/EuroVaistineDemo/packages/Selenium.WebDriver.GeckoDriver.0.32.0/Selenium.WebDriver.GeckoDriver.0.32.0.nupkg
/.gitignore
/EuroVaistineDemo/EuroVaistineDemo/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/EuroVaistineDemo/EuroVaistineDemo/Properties/AssemblyInfo.cs
/EuroVaistineDemo/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/content/Readme.txt
/EuroVaistineDemo/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1.nupkg
/EuroVaistineDemo/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/tools/install.ps1
/EuroVaistineDemo/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/tools/uninstall.ps1
/EuroVaistineDemo/packages/Selenium.Support.4.5.1/.signature.p7s
/EuroVaistineDemo/packages/Selenium.Support.4.5.1/images/icon.png
/EuroVaistineDemo/packages/Selenium.Support.4.5.1/Selenium.Support.4.5.1.nupkg
/EuroVaistineDemo/packages/Selenium.WebDriver.4.5.1/.signature.p7s
/EuroVaistineDemo/packages/Selenium.WebDriver.4.5.1/images/icon.png
/EuroVaistineDemo/packages/Selenium.WebDriver.4.5.1/Selenium.WebDriver.4.5.1.nupkg
/.vs/EuroVaistineDemo/FileContentIndex/2e4def80-4862-457e-a830-dc9aa24ebe5e.vsidx
/EuroVaistineDemo/EuroVaistineDemo/Drivers/Browsers.cs
/EuroVaistineDemo/EuroVaistineDemo/Drivers/CustomDriver.cs
/EuroVaistineDemo/EuroVaistineDemo/Page/AlertPage.cs
/EuroVaistineDemo/EuroVaistineDemo/Page/BasePage.cs
/EuroVaistineDemo/EuroVaistineDemo/Page/CartPage.cs
/EuroVaistineDemo/EuroVaistineDemo/Page/VaistineHomePage.cs
/EuroVaistineDemo/EuroVaistineDemo/Page/VaistineSearchResultPage.cs
/EuroVaistineDemo/EuroVaistineDemo/Test/AlertTest.cs
/EuroVaistineDemo/EuroVaistineDemo/Test/BaseTest.cs
/EuroVaistineDemo/EuroVaistineDemo/Test/VaistineTest.cs
/packages/DotNetSeleniumExtras.PageObjects.3.11.0/.signature.p7s
/packages/DotNetSeleniumExtras.PageObjects.3.11.0/DotNetSeleniumExtras.PageObjects.3.11.0.nupkg
/packages/DotNetSeleniumExtras.WaitHelpers.3.11.0/.signature.p7s
/packages/DotNetSeleniumExtras.WaitHelpers.3.11.0/DotNetSeleniumExtras.WaitHelpers.3.11.0.nupkg
/packages/NUnit.3.13.3/.signature.p7s
/packages/NUnit.3.13.3/build/NUnit.props
/packages/NUnit.3.13.3/CHANGES.md
/packages/NUnit.3.13.3/icon.png
/packages/NUnit.3.13.3/lib/net35/nunit.framework.xml
/packages/NUnit.3.13.3/lib/net40/nunit.framework.xml
/packages/NUnit.3.13.3/lib/net45/nunit.framework.xml
/packages/NUnit.3.13.3/lib/netstandard2.0/nunit.framework.xml
/packages/NUnit.3.13.3/LICENSE.txt
/packages/NUnit.3.13.3/NOTICES.txt
/packages/NUnit.3.13.3/NUnit.3.13.3.nupkg
/packages/NUnit3TestAdapter.4.3.0/.signature.p7s
/packages/NUnit3TestAdapter.4.3.0/build/net35/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.4.3.0/build/netcoreapp2.1/NUnit3TestAdapter.props
/EuroVaistineDemo/EuroVaistineDemo/Drivers/Browsers.cs
/VaistineDemo/.vs/EuroVaistine/FileContentIndex/dbc3e5e0-603c-4a6d-9690-be824576258c.vsidx
/VaistineDemo/.vs/EuroVaistine/FileContentIndex/read.lock
/VaistineDemo/.vs/EuroVaistine/v17/TestStore/0/000.testlog
/VaistineDemo/.vs/EuroVaistine/v17/TestStore/0/testlog.manifest
/VaistineDemo/Test/.vs/slnx.sqlite
/VaistineDemo/Test/.vs/Test/FileContentIndex/d05408ee-73b6-4fc6-997a-3dedddb38e76.vsidx
/VaistineDemo/Test/.vs/Test/FileContentIndex/read.lock
/VaistineDemo/Test/.vs/Test/v17/TestStore/0/000.testlog
/VaistineDemo/Test/.vs/Test/v17/TestStore/0/testlog.manifest
/VaistineDemo/Test/.vs/VSWorkspaceState.json
/EuroVaistineDemo/EuroVaistineDemo/Drivers/Browsers.cs
/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/Selenium.WebDriver.ChromeDriver.106.0.5249.6100.nupkg
/packages/Selenium.WebDriver.GeckoDriver.0.32.0/.signature.p7s
/packages/Selenium.WebDriver.GeckoDriver.0.32.0/build/DefinePropertiesGeckoDriver.targets
/packages/Selenium.WebDriver.GeckoDriver.0.32.0/build/Selenium.WebDriver.GeckoDriver.targets
/packages/Selenium.WebDriver.GeckoDriver.0.32.0/driver/linux64/geckodriver
/packages/Selenium.WebDriver.GeckoDriver.0.32.0/driver/mac64/geckodriver
/packages/Selenium.WebDriver.GeckoDriver.0.32.0/driver/mac64arm/geckodriver
/packages/Selenium.WebDriver.GeckoDriver.0.32.0/nupkg-icon.png
/packages/Selenium.WebDriver.GeckoDriver.0.32.0/README.md
/packages/Selenium.WebDriver.GeckoDriver.0.32.0/Selenium.WebDriver.GeckoDriver.0.32.0.nupkg
/EuroVaistineDemo/EuroVaistineDemo/Drivers/Browsers.cs
/packages/Selenium.WebDriver.4.6.0/manager/macos/selenium-manager
/packages/Selenium.WebDriver.4.6.0/Selenium.WebDriver.4.6.0.nupkg
/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/.signature.p7s
/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/build/DefinePropertiesChromeDriver.targets
/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/build/Selenium.WebDriver.ChromeDriver.targets
/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/driver/linux64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/driver/mac64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/driver/mac64arm/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/nupkg-icon.png
/packages/Selenium.WebDriver.ChromeDriver.106.0.5249.6100/README.md
/EuroVaistineDemo/EuroVaistineDemo/Drivers/Browsers.cs
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1.nupkg
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/tools/install.ps1
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/tools/uninstall.ps1
/packages/Selenium.Support.4.6.0/.signature.p7s
/packages/Selenium.Support.4.6.0/images/icon.png
/packages/Selenium.Support.4.6.0/Selenium.Support.4.6.0.nupkg
/packages/Selenium.WebDriver.4.6.0/.signature.p7s
/packages/Selenium.WebDriver.4.6.0/build/Selenium.WebDriver.targets
/packages/Selenium.WebDriver.4.6.0/images/icon.png
/packages/Selenium.WebDriver.4.6.0/manager/linux/selenium-manager
/packages/NUnit3TestAdapter.4.3.0/NUnit3TestAdapter.4.3.0.nupkg
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/.signature.p7s
/packages/Selenium.Mozilla.Firefox.Webdriver.0.6.0.1/content/Readme.txt
