/obj/Debug/ClassLibrary1.csproj.FileListAbsolute.txt
/bin/Debug/nunit.framework.xml
/bin/Debug/nunit_random_seed.tmp
/ClassLibrary1.csproj
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Debug/ClassLibrary1.csproj.CopyComplete
/packages.config
